@import url('API.utils.css');

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

* { margin:0; padding:0;}

.navbar {
  overflow: auto;
  padding: 5px;
  align-items: center;
  background-color: rgb(20, 20, 20);
  width: 100%;
  position: fixed;
  display: flex;
  float: right;
  height: 40px;
}

.sidebar {
  width: 20% !important;
  margin-top: 40px;
}

.font {
  font-family: var(--font);
}

.drawerToggleBtn {
  float: left;
  display: flex;
  background: #141414 !important;
}

.drawerAvatar {
  max-width: 10%;
  width: auto;
  float: left;
  border-radius: 100%;
  margin-right: 0.5rem;
}

.drawerItem, .drawerItem:hover {
  color: #fff;
  text-decoration: none;
}

.drawerItemActive {
  color: #1A202C !important;
  text-decoration: none;
  background: #fff;
  padding: 5px;
  border-radius: 10px;
  padding-left: 10px;
  margin-left: -10px;
}

.profileA:hover {
  color: #fff;
}

.navButtonActive {
  color: #fff;
  background: var(--blackberry);
  padding: 5px !important;
  padding-right: 4rem !important;
  text-decoration: none;
}

.logo {
  max-width: 10%;
  width: auto;
  margin: 0 auto;
}

.logo img {
  cursor: pointer;
  height: 38px;
  margin-top: 13px;
  padding-left: 12px;
  padding-right: 5px;
}

.navbarCon {
  float: left;
  margin-top: 10px;
  width: calc(100% - 150px);
}

.navbarCon .left {
  float: left;
}

.navbarCon .right {
  float: right;
}

.navButton {
  height: 60px;
  margin-top: -8px;
  border-width: 2px;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-right: 10px;
}

.navButtonActive {
  border: none;
}

.logoutButton {
  margin-right: -33px;
  background-color: rgb(39, 39, 39);
  border: none;
  font-size: 15px;
  height: 40px;
  margin-top: 1px;
  border-radius: 5px;
}

.avatarImg {
  max-width: 20%;
  width: auto;
  float: left;
}

.avatarUsername { 
  font-size: 16px;
  margin-right: 3px;
  margin-top: 1.5px;
  float: left;
}

.barsCon {
  margin-right: -32px;
  border: none;
  float: right;
  height: 32px;
  padding: 6px;
  margin-top: 8px;
  display: none;
  background: none;
  border-color: rgb(221, 221, 221);
}

.barsCon>span {
  display: block;
}

.barsBtn {
  display: block;
  width: 20px;
  height: 1.5px;
  background: #ffffff;
  position: relative;
}

.barsBtn:after,
.barsBtn:before {
  content: attr(x);
  width: 20px;
  position: absolute;
  top: -6px;
  left: 0;
  height: 1.5px;
  background: #ffffff;
}

.barsBtn:after {
  top: auto;
  bottom: -6px;
}

@media (max-width: 767px) {
  .barsCon {
    display: inline-block;
  }

  .left,
  .right {
    display: none;
  }

  .navbarCon {
    margin-top: 7px;
  }

  .navbarCon .ant-menu-item,
  .navbarCon .ant-menu-submenu-title {
    padding: 1px 20px;
  }
}

@media only screen and (max-width: 375px) {
  .logo img {
    margin-bottom: 2px;
  }

  .sidebarComplete {
    display: none !important;
  }

}

@media only screen and (max-width: 85.375em) {
  .sidebar {
    overflow-y: visible;
    width: 20%;
  }
}